<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    <title>Edit Acct</title>
</head>

<body>
    <div class="continer">
        <header>
            <h1>Hello {{user.first_name}}</h1>
            <h2>Edit your acct</h2>
            <a href="/logout">Logout</a>
            <a href="/quotes">Back</a>
            <!-- <a href="/wishes/new">Make A Wish</a> -->
        </header>
        {% if messages %}
        <div>
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="divider">
            <h1>Edit acct</h1>
            <form action="/process_edit_account" method="POST">
                {% csrf_token %}
                <label for="">first name</label>
                <input type="text" name="first_name" value="{{user.first_name}}">
                <label for="">last name</label>
                <input type="text" name="last_name" value="{{user.last_name}}">
                <label for="">email</label>
                <input type="email" name="email" value="{{user.email}}">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <button class="btn btn1" type="submit">Update</button>

            </form>
        </div>



    </div>
</body>

</html>